node_modules/
*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/
/doc/
/rdoc/
/.bundle/
/vendor/bundle
/lib/bundler/man/
Gemfile.lock
.ruby-version
.ruby-gemset
.rvmrc

tmp/
_site/

package-lock.json

dist
.wrangler
.output
.vercel
.netlify
.vinxi
app.config.timestamp_*.js

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

.vscode
_server
_build
index.html*


pnpm-lock.yaml
assets/*
package-lock.json
.nojekyll
.solidbase/
404.html*